* {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color:white;
}

ul {
    list-style-type: none;
    display: flex;
    color: white;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 16px;
    align-items: center;
    justify-items: center;
}

.logo {
    max-width: 250px;
    min-width: 150px;
    height: auto;
    width: auto;
}

#menu {
    margin-left: auto;
    gap: 30px;
}

.start {
    display:flex;
    flex-direction: row-reverse;
    padding: 40px 80px;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.imright {
    width: 400px;
    height: auto;
    flex-grow: 0;
    border-radius: 10px;
    border: white solid 3px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
}

button {
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: 0;
    background-color: #3882f6;
    color: white;
}

button:hover {
    background-color: rgb(97, 97, 141);
}

.gallery {
    padding: 40px 80px;
    text-align: center;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    gap: 50px;
    flex-wrap: wrap;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gh1 {
    margin-bottom: 30px;
}

.gdesc {
    width: 200px;
}

.gal {
    width: 200px;
    height: 133px;
    border-radius: 10px;
    border: #1f2937 solid 3px;
}

.testemonial {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 20px;
}

.quote, .author {
    max-width: 500px;
    color: #1f2937;
}

.quote {
    font-size: 20px;
    margin: 75px auto 0 auto;
}

.author {
    font-size: 17px;
    margin:  10px auto 75px auto;
    text-align: right;
    font-weight: bold;
}

.cta {
    background-image: url(../img/sushi-chef.jpg);
    background-position: center 800px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

#ctashape {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    gap: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#ctadesc {
    display: flex;
    flex-direction: column;
}

#ctabut {
    width: 120px;
    height: 70px;
    border: white solid 2px;
    flex-shrink: 0;
    font-size: 20px
    
}

.call {
    max-width: 500px;
}

.footer {
    display: flex;
    padding: 40px 16px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}